hsm_module/src/main/app/hsm_module.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

	<spring:beans>
		<spring:bean id="SecurityServiceImpl"
			class="host.security.module.processor.SecurityProcessor" />
	</spring:beans>

	<http:listener-config name="HTTP_Listener_Configuration"
		host="0.0.0.0" port="9872" doc:name="HTTP Listener Configuration"
		basePath="security" />

	<flow name="hsm_encryptModuleFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="encrypt" allowedMethods="POST" doc:name="HTTP" />
		<invoke object-ref="SecurityServiceImpl" method="encrypt"
			methodArguments="#[payload.algorithm], #[payload.mode], #[payload.padding], #[payload.text]" />
		<logger level="INFO" message="#[payload]" />
	</flow>

	<flow name="hsm_decryptModuleFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="decrypt" allowedMethods="POST" doc:name="HTTP" />
		<invoke object-ref="SecurityServiceImpl" method="decrypt"
			methodArguments="#[payload.algorithm], #[payload.mode], #[payload.padding], #[payload.text]" />
		<logger level="INFO" message="#[payload]" />
	</flow>
</mule>
